In [1]:
import yfinance as yf
import pandas as pd
import sqlite3

In [2]:
raw_data=yf.download("SPY",start="2015-01-01",end="2025-01-01")   #pulling data of SPDR S&P 500 ETF from yahoo finance

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16536\857314169.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  raw_data=yf.download("SPY",start="2015-01-01",end="2025-01-01")   #pulling data of SPDR S&P 500 ETF from yahoo finance
[*********************100%***********************]  1 of 1 completed

In [3]:
raw_data.columns=raw_data.columns.get_level_values(0)   #remove the SPY subheader
raw_data.reset_index(inplace=True)   #move date from index to a seperate column
raw_data.head()

Price       Date       Close        High         Low        Open     Volume
0     2015-01-02  171.093658  172.301310  170.052588  171.884882  121465900
1     2015-01-05  168.003860  170.210926  167.695708  170.044357  169632600
2     2015-01-06  166.421356  168.836634  165.621809  168.311931  209151400
3     2015-01-07  168.495178  168.836652  167.304200  167.753937  125346700
4     2015-01-08  171.485153  171.701704  169.894407  169.911055  147217800

In [4]:
conn=sqlite3.connect("risk_data.db")
raw_data.to_sql("stock_prices",conn,if_exists="replace",index=False)
print("Data connection successfull and saved to SQL")

Data connection successfull and saved to SQL

In [5]:
apple_data=yf.download("AAPL",start="2015-01-01",end="2025-01-01")   #pulling data about APPLE.Inc for factor analysis
apple_data.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_16536\385432826.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  apple_data=yf.download("AAPL",start="2015-01-01",end="2025-01-01")   #pulling data about APPLE.Inc for factor analysis
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.237549  24.705318  23.798599  24.694233  212818400
2015-01-05  23.554741  24.086801  23.368521  24.006992  257142000
2015-01-06  23.556965  23.816344  23.195606  23.619038  263188400
2015-01-07  23.887278  23.987038  23.654501  23.765347  160423600
2015-01-08  24.805082  24.862723  24.097885  24.215383  237458000

In [6]:
apple_data.columns=apple_data.columns.get_level_values(0)   #remove the AAPL subheader
apple_data.reset_index(inplace=True)   #move date from index to a seperate column
apple_data.head()

Price       Date      Close       High        Low       Open     Volume
0     2015-01-02  24.237549  24.705318  23.798599  24.694233  212818400
1     2015-01-05  23.554741  24.086801  23.368521  24.006992  257142000
2     2015-01-06  23.556965  23.816344  23.195606  23.619038  263188400
3     2015-01-07  23.887278  23.987038  23.654501  23.765347  160423600
4     2015-01-08  24.805082  24.862723  24.097885  24.215383  237458000

In [7]:
apple_data.to_sql("apple_prices",conn,if_exists="replace",index=False)

2516